:root {
    --color-text-titles: #ffffff;
    --color-text: rgba(255, 255, 255, 0.867);
    --color-accent-color: #E6E4C6;
    --color-background: #0E3A47;
    --color-card-background: #ffffff27;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: grid;
    grid-template-areas: 
    "aside header"
    "aside main"
    "footer footer";
    grid-template-columns: 200px 1fr;
}

header {
    display: flex;
    justify-content: space-between;
    grid-area: header;
    background-image: url(./img/background.jpg);
    border-bottom-left-radius: 5px;
}

a:not(footer a) {
    color: var(--color-background);
    font-weight: bold;
    text-decoration: none;
    background-color: var(--color-accent-color);
    border-radius: 5px;
    padding: 10px 40px;
}

header div {
    margin: 40px;
}

header img {
    max-height: 300px;
    flex-shrink: 1;
    margin-right: 50px;
}

main {
    grid-area: main;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project {
    display: flex;
    flex-direction: column;
    flex-basis: 314px;
    flex-grow: 1;
    flex-shrink: 1;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.technology {
    margin-left: 5px;
    transition: 0.2s;
    user-select: none;
}

.technology:hover {
    color: var(--color-accent-color);
}

.project img {
    height: 150px;
    object-fit: cover;
    filter: grayscale(0.8);
    transition: 0.3s;
}

.project:hover img {
    filter: grayscale(0);
}

.project div {
    margin: 0 20px;
}

.project a {
    margin-top: auto;
    text-align: center;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.card {
    background-color: var(--color-card-background);
    border-radius: 5px;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

footer a {
    color: var(--color-text);
}